/* Custom styles for the game */

body {
    background-image: linear-gradient( #1e3a8a, #1e40af);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lifeline-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1e3a8a;
    border: 2px solid #fcd34d;  
    color: #fcd34d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.lifeline-btn:hover:not([disabled]) {
    background-color: #fcd34d;
    color: #1e3a8a;
    transform: scale(1.05);
}









